let mapleader=" "

source ~/.vimrc

""" Plugins  --------------------------------
set surround
set commentary

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
map <leader>dd <Action>(Debug)
map <leader>c <Action>(Stop)

map <leader>sg <Action>(FindInPath)
map <leader>sf <Action>(GotoFile)

map <leader>b <Action>(ToggleLineBreakpoint)
" NOTE: kinda useful, but seldom used
map <leader>wr <Action>(ChangeSplitOrientation)
